<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">doc
    <title>Quiz - Strona Główna</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header class="header">
    <h1 class="header__logo">Quiz</h1>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a href="#" class="header__nav-link">Strona Główna</a></li>
            <li class="header__nav-item"><a href="http://localhost:8080/quizzes" class="header__nav-link">Przeglądnij
                dostępne Quizzy</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-link">Kategorie</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-link">Zaloguj się</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <section class="section">
        <h2 class="section__title">Witaj w Quizie!</h2>
        <p class="section__text">Zagraj w ciekawe quizy i sprawdź swoją wiedzę!</p>
        <button class="section__button">Zagraj teraz!</button>
    </section>
</main>
<footer class="footer">
    <p class="footer__text">Quiz &copy; 2023</p>
</footer>
</body>
</html>